*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: rgba(247, 184, 1, .8);
    --clr-purple: #4f1c52;
    --clr-purple-secondary: #77287d;
    
    --fs-h1: 2.75rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 3.25rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/* section {
    padding: 3em 2em;
} */

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

p { font-size: var(--fs-body)}


/* Navigation */

#mainNav.bg-nav {
    background-color: rgba(247, 184, 1, 0) !important;
}

.nav-link {
    display: inline-block;
    position: relative;
    color: var(--clr-purple-secondary) !important;
    opacity: .9;
}
.nav-item .nav-link:after  {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-purple-secondary);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-item .nav-link:hover:after, #mainNav.navbar-shrink .nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 992px) {
    #mainNav.bg-nav {
        background-color: var(--clr-purple-secondary) !important;
    } 

    .nav-link {
        color: var(--clr-light) !important;
        opacity: 1;
    }
}


@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: padding-top 0.3s, padding-bottom 0.3s, background-color .5s;
    }
    
    #home #mainNav.navbar-shrink {
        padding-top: .5rem;
        padding-bottom: 0.5rem;
        background-color: var(--clr-purple-secondary) !important;
    }
    
    #home #mainNav.navbar-shrink .nav-link {
        color: var(--clr-light) !important;
        opacity: 1;
    }
    
    #mainNav.navbar-shrink .nav-link:after {
        background-color: var(--clr-light);
    }

}

/* Masthead */
.masthead {
    background-color: var(--clr-accent);
    /* min-height: 100vh; */
    
    padding-top: calc(5rem + 74px);
    padding-bottom: 6rem;
}

.masthead .masthead-img {
    width: 15rem;
}

.masthead .masthead-heading {
    color: var(--clr-purple-secondary);
    font-size: 2.75rem;
    margin: 2rem 0 1rem 0;
    font-weight: 600;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
    font-weight: 300;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: calc(5rem + 104px);
        padding-bottom: 6rem;
    }
    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }
}


/* about me */

.about-me {
    background-color: var(--clr-purple-secondary);
    padding: 8rem 0;
    height: 35em
}

.about-heading {
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: .8em;
}

.about-subheading {
    font-weight: 300;
    opacity: .9;
}

#about .card {
    /* height: 340px; */
    /* width: 330px; */
    padding: 3.5em 2em;
}

.m-card {
    margin-top: 5.5em;
}

.card-1 {
    border-radius: 20px 20px 0 0;
}

.card-2 {
    border-radius: 0;
}

.card-3 {
    border-radius: 0 0 20px 20px;
}


@media (min-width: 768px) {
    .card-1 {
        border-radius: 20px 0 0 20px;
    }
    
    .card-2 {
        border-radius: 0;
    }
    
    .card-3 {
        border-radius: 0 20px 20px 0;
    }
}



/* portofolio */

@media (max-width: 320px) {
    .portofolio {
        padding-top: 82em !important;
        min-height: 150vh;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .portofolio {
        padding-top: 75em;
        min-height: 150vh;
    }
}

@media (min-width: 768px) {
    .portofolio {
        padding-top: 390px;
        min-height: 150vh;
    }
}

.wrapper {
    height: 100px !important;
}

.portofolio .m-card-0 {
    margin: 0px !important;
}

.row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Base styles */
.wrapper {
    min-height: 280px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(#000, 0.3), 0 15px 12px rgba(#000, 0.2);
    background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center / cover no-repeat;
    background-color: var(--clr-purple-secondary) !important;
}

.wrapper:hover {
    background-blend-mode: screen;
}

.data {
    color: var(--clr-light);
    position: absolute;
    bottom: -100px;
    width: 100%;
    transform: translateY(calc(70px + 4em));
    transition: transform 0.5s;
}

.portofolio-card .wrapper:hover .data {
    transform: translateY(0);
    bottom: 5%;
}

.content {
    padding: 1em;
    position: relative;
    z-index: 1;
}

.text {
    height: 70px;
    margin: 0;
    font-weight: 300;
    opacity: .8;
}

.button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: var(--clr-light) !important;
    line-height: 1;
    position: relative;
    font-weight: 700;
    text-decoration: none;
}

.button::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
}

a.button:hover::after {
    transform: translate(5px, -50%);
    opacity: 1;
}